/* ALL */

* {
    margin:0;
    padding:0;
}

body {
  font-family: Segoe UI,Helvetica Neue,sans-serif;
  text-rendering: optimizeLegibility;
}


/*HEADER AND NAVBAR*/

h1 {
  font-size: 32px;
  background-image: url("./resources/images/header.jpg");
  background-color: #d6d2d1;
  color: black;
  text-align: center;
  /* Replace the below with some min/max heights and some vertical centering, so that h1 smaller is less spaced out..*/
  padding: 1em;
}

.headersubtext {
  font-weight: lighter;
  font-style: italic;
  font-size: 16px;
  color: rgba(160,17,47,0.8);
}

nav {
  position: fixed;
  top: 0px;
  width: 100%;
}


/*THIS NEEDS TO BE WHATEVER THE HEIGHT OF THE HEADER AND NAVBAR COMBINED IS*/
.content {
  margin-top: 180px;
  /* DID THIS IN CASE IT FIXED STICKY FOOTER - IT DIDN'T*/  margin-bottom: 10px;
}

.navbar {
  overflow: hidden;
  background-color: darkgrey;
  display: flex;
  justify-content: center;
}

.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: rgba(160,17,47,0.8);
}


/*box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);*/
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #d6d2d1;
  min-width: 160px;
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 10px 10px;
  text-decoration: none;
  display: block;
  text-align: left;
  font-style: italic;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/*Highlights the current page in navbar*/
.current-page {
  background-color: rgba(160,17,47,0.4); /*lightgrey;*/
  color: black;
}


/*MAIN CONTENT*/

p {
  width: 60%;
  text-align: justify;
  padding: 10px;
  margin: auto;
}

ul, ol, li {
    width: 70%;
    text-align: justify;
    padding: 5px;
    margin-left: auto;
    margin-right: auto;
}

a {
  color: rgba(160,17,47,0.8);
  text-decoration: underline;
}

h2 {
  width: 60%;
  text-align: justify;
  padding: 10px;
  margin: auto;
}

h3 {
  font-size: 18px;
  width: 60%;
  text-align: justify;
  padding: 10px;
  margin: auto;
}

h4 {
  font-size: 16px;
  width: 60%;
  text-align: justify;
  padding: 10px;
  margin: auto;
  text-decoration: underline;
}


blockquote {
  font-size: 14px;
  font-style: italic;
  width: 70%;
  text-align: justify;
  padding: 5px;
  margin-left: auto;
  margin-right: auto;
}

q {
  font-style: italic;
}

sup {
    color: rgba(160,17,47,0.8);
    font-weight: bold;
}

.highlight {
  color: rgba(160,17,47,0.8);
  font-weight: bold;
}

.pubTitles {
  color: rgba(160,17,47,0.8);
  font-style: italic;
}

table {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  margin: auto;
}

th, td, tr {
  border: 1px solid black;
  padding: 5px 5px 5px 5px;
}


td.quotation {
  text-align: justify;
}

th.source {
  width: 20%
}


th.tdate {
  width: 17%
}


th.edSource {
  width: 17%
}

th.jToa {
  width: 33%;
}

th.auChH {
  width: 24%;
}

th.doe {
  width: 15%;
}

/* I DON'T CURRENTLY KNOW WHAT I WANT TO DO WITH THIS, BUT THIS CHANGES THE FONT SIZE FROM THE 3rd COLUMN ONWARDS
Presumably I want to use this to change a column (perhaps make the first in 'Speaker' be smaller..) and then change the following columns back..
e.g. "table td { background: red;} // first column will have red background table td + td { background: blue;} // rest will have blue"

table td+td+td {
  font-size: 6px;
}

table td+td+td+td {
  font-size: 20px;
}
*/

th.auYear {
  width: 45px;
}

th {
  background-color:  rgba(160,17,47,0.3);
}

td {
  font-size: 14px;
}

img {
  /*
  vertical-align: bottom;
  vertical-align: middle;
  vertical-align: top;
  float: right;
  float: left;
  */
  vertical-align: middle;
}


/* REFERENCES */

.references ol {
  font-size: 12px;
  /* DUNNO..... font-style: italic;*/
  width: 80%;
}

/* FOOTER */


footer {
  /*position: fixed; || Always visible, on short pages is still at bottom of page, starts and stays at bottom of page, stays at bottom on scroll, the end of the text goes underneath it.*/
  /* position: sticky; || Always visible, on short pages is just under content, when long page it stays at bottom of page, but the end of the text goes underneath it.*/
  /*position: absolute; || Always visible, on short pages is still at bottom of page, starts at bottom of page, scrolls up with text!, the end of the text goes underneath it.*/
  /*position: relative; || On short pages is just under content, just appears at the bottom of the page content no matter where it is!*/
  /*position: static;  || On short pages is just under content, just appears at the bottom of the page content no matter where it is!*/
  position: fixed;
  bottom: 0px;
  width: 99%;
  background-color: rgba(160,17,47,0.7);
  padding: 5px 5px 5px 5px;
  margin-top: 5px;
  font-size: 12px;
/*I am concerned that if I try to align right it cuts off the final 2 characters, perhaps 5px worth?? Have tried amending padding but to no avail.. It seems as though the <body> itself falls off the page - can be seen if setting "margin: 5px 5px 5px 5px;" because no right margin shows..*/
  text-align: center;
}


/* Style the header */
.header {
  padding: 10px 16px;
  background: #555;
  color: #f1f1f1;
}

/* Page content */
.content {
  padding: 16px;
}
